<h2>SATY ry:n keskustelupalsta</h2>

<h3>Keskustelupalstan säännöt</h3>
<strong>Lue nämä ennen rekisteröintiä</strong>
<ul>
  <li>Keskustelupalstalle tulee rekisteröityä omalla nimellä. Ilman rekisteröitymistä foorumilla ei voi lähettä viestejä.<strong>Käyttäjätunnuksen tulee olla muotoa "Etunimi Sukunimi"</strong>.</li>
  <li>Ylläpidolla on oikeus muuttaa käyttäjän käyttäjätunnus sääntöjen mukaiseksi.</li>
  <li><strong>Foorumi on tarkoitettu vain yhdistyksen jäsenille</strong>.Ylläpito hyväksyy uudet käyttäjät. Ennen hyväksymistä foorumille ei pysty kirjoittamaan.</li>
  <li>Asioista saa ja pitää puhua, mutta asiattomuuksiin tai henkilökohtaisuuksiin ei pidä mennä.</li>
  <li>Kaikki asiattomat viestit poistetaan.</li>
</ul>