
<h2>Tervetuloa</h2>
<p>
  Suomen Airedalenterrieriyhdistys r.y. on vuonna 1946 perustettu rotuyhdistys.
  Yhdistyksen tarkoituksena on edistää airedalenterrierirodun harrastusta ja jalostusta.
</p>
<p>
  Yhdistys järjestää jäsenilleen koulutustilaisuuksia, kokeita, kursseja, näyttelyitä ja kerhoiltoja,
  sekä julkaisee Karvakuono -jäsenlehteä.
</p>

<div id="notice">
  <% if !@notices.blank? %>
    <h3>Ilmoitukset:</h3>
    <% for item in @notices %>
      <div class="notices anno-item">
        <h4><%= item.title %></h4>
        <p><%= item.description %></p>
      </div>
    <% end %>
  <% else %>

  <% end %>
</div>

<div id="news">
  <% if !@news.blank? %>
    <h3>Uutisia:</h3>
    <% for item in @news %>
      <div class="news anno-item">
        <h4><%= item.title %></h4>
        <p><%= item.description %></p>
      </div>
    <% end %>
  <% else %>

  <% end %>
</div>